body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2091 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
}
#u2092 {
  position:absolute;
  left:196px;
  top:638px;
  width:73px;
  height:22px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
}
#u2093 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2094_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:167px;
}
#u2094 {
  position:absolute;
  left:180px;
  top:640px;
  width:3px;
  height:164px;
}
#u2095 {
  position:absolute;
  left:2px;
  top:74px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:702px;
  height:126px;
}
#u2096 {
  position:absolute;
  left:198px;
  top:678px;
  width:702px;
  height:126px;
  color:#FF3399;
  line-height:18px;
}
#u2097 {
  position:absolute;
  left:0px;
  top:0px;
  width:702px;
  word-wrap:break-word;
}
#u2098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2098 {
  position:absolute;
  left:60px;
  top:61px;
  width:439px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2099 {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  white-space:nowrap;
}
